@media screen and (max-width: 991.98px) {
    .bottombar {
      position: fixed;
      bottom: 0;
      width: 100%;
      display: block;
    }
  }

  @media screen and (min-width: 991.98px) {
    .bottombar {
      display: none;
    }
    
  }